@tailwind base;
@tailwind components;
@tailwind utilities;


.block-books-admin{
    display: flex;
    justify-content: space-around;
}

.add-books{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.edit-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.books-list{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.sorts-books{
    color: #fff;
}